.BorderPane {
    -font-family: Calibri;
    -fx-background-color: #eceff1;
}

.btnGoDark {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.btnGoLight {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

.btnLogin {
    -fx-background-color: #01579b;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.btnLogin:hover {
    -fx-background-color: #4f83cc;
        -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnLogin:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnRegistarOrganizacao {
    -fx-background-color: #01579b;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.btnRegistarOrganizacao:hover {
    -fx-background-color: #4f83cc;
    -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnRegistarOrganizacao:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnSair {
    -fx-background-color: #AF4448;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.btnSair:hover {
    -fx-background-color: #E57373;
    -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnSair:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.lblLogin {
    -fx-text-fill: #ff0000;
}

.cmbAreaActividadeListaTarefas {
    
}

.lblUser {
    -fx-background-color: #002f6c;
    -fx-text-fill: #FFFFFF;
    -fx-font-size:16;  
}

.AnchorPane {
    -fx-background-color: #eceff1;
}

.FlowPane {
    -fx-background-color: #eceff1;
}

.btnAddColaborador {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.btnAddColaborador:hover {
   -fx-background-color: #82e9de;
   -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnAddColaborador:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnRegistarColaborador {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;    
}

.btnRegistarColaborador:hover {
   -fx-background-color: #82e9de;
   -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnRegistarColaborador:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnAddAreaAtividade {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;    
}

.btnAddAreaAtividade:hover {
    -fx-background-color: #82e9de;
    -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnAddAreaAtividade:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnConfirmar {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;    
}

.btnConfirmar:hover {
   -fx-background-color: #82e9de;
   -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnConfirmar:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnAddCompTecCat {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand; 
}

.btnAddCompTecCat:hover {
   -fx-background-color: #82e9de;    -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnAddCompTecCat:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnAvancarRegisto {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;     
}

.btnAvancarRegisto:hover {
   -fx-background-color: #82e9de;
   -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnAvancarRegisto:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnNovaTarefa {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand; 
}

.btnNovaTarefa:hover {
   -fx-background-color: #82e9de;
   -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnNovaTarefa:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnConsultar1 {
    -fx-background-color: #4db6ac;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;     
}

.btnConsultar1:hover {
   -fx-background-color: #82e9de;
   -fx-text-fill: #000000;
    -fx-scale-y: 0.9;
}

.btnConsultar1:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnCancelar{
    -fx-cursor: hand;   
}

.btnCancelar:hover {
   -fx-background-color: #82e9de;
   -fx-text-fill: #000000;
    -fx-text-fill: #ffffff;
    -fx-scale-y: 0.9;
}

.btnCancelar:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}