.BorderPane {
    -font-family: Calibri;
    -fx-background-color: #FFFACD;
}

.btnToggle {
    -fx-background-color: #CCCCCC;
    -fx-text-fill: #000000;
}

.btnLogin {
    -fx-background-color: #191970;
    -fx-text-fill: #ffffff;
}

.btnRegistarOrganizacao {
    -fx-background-color: #20B2AA;
    -fx-text-fill: #ffffff;
}

.btnSair {
    -fx-background-color: #8B0000;
    -fx-text-fill: #ffffff;
}

.lblLogin {
    -fx-text-fill: #ff0000;
}

.cmbAreaActividadeListaTarefas {
    
}

.AnchorPane {
    -fx-background-color: #FFFACD;
}

.FlowPane {
    -fx-background-color: #FFFACD;
}

.BorderPane {}

.TabPane {}