# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\blest\Desktop\Sprints\upskill_java1_labprg_grupo2\Cliente-Autarquias\AutarquiaCLI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
